@inherits LayoutComponentBase


<div class="page">

    
    <main>
        <div class="bg-slate-800 flex-row sticky top-0">
            <NavMenu/>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
  
</div>
