@font-face {
    font-family: myFirstFont;
    src: url(SailorsFatTattooScriptDemoByOutOfStepFontCompany-7B6ql.ttf);
}

h1 {
    font-family: myFirstFont !important;
    position: absolute;
    top: 100%;
    left: 30%;
    text-align: center;
    font-size: 48px !important;
}