
@page "/"
@inject IModalService modal
<style>
    body {
        background-image: url("3934588.jpg");
        background-size: fill;
        background-position-y: -100px;
        background-color:aquamarine
    }</style>
<link rel="stylesheet" href="css/fonts.css">
<PageTitle>Home</PageTitle>
<svg width="130" height="300" style="position:absolute; top:255px;left:709px;" xmlns="http://www.w3.org/2000/svg">
    <rect width="80" height="70" fill="#52d3fa" />
</svg>
<img src="rotom.png" style="@newpos" @onmouseover="moverotom"/>
<h1>THE SEA TAVERN</h1>

@code 
{
    public string newpos = "position:absolute; top:255px; left:709px; ";

    public async Task moverotom()
    {
        
        newpos= $"position:absolute; top:{new Random().Next(500)}px; left:{new Random().Next(500)}px;";
    }
}