
@page "/"
@inject IModalService modal
<style>
    body {
        background-image: url("3934588.jpg");
        background-size: cover;
        background-repeat:no-repeat;
        background-color: darkslategray;
        height: 100vh;
    }</style>
<link rel="stylesheet" href="css/fonts.css">
<PageTitle>Home</PageTitle>

<img src="rotom.png" style="@newpos" @onmouseover="moverotom"/>
<h1>THE SEA TAVERN</h1>

@code 
{
    public string newpos = "position:absolute; top:125px; left:50%; ";

    public async Task moverotom()
    {
        
        newpos= $"position:absolute; top:{new Random().Next(1000)}%; left:{new Random().Next(95)}%;";
    }
}